@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
body{
    background: linear-gradient(-45deg, #4a1c6b, #4d1771, #c620cf7a, #661387);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: "Poppins", sans-serif;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 10px;
    font-weight: 500;
}

.navbar {
    font-family: "Poppins", sans-serif;
    box-shadow: 0 0 10px rgb(11, 11, 11);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    border-radius: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(20, 20, 20, 0); 
    backdrop-filter: blur(10px) saturate(200%) brightness(70%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    z-index: 9999;
}
.nav-texts{
    position: absolute;
    font-size: xx-small;
}
.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
}

.nav-text {
    color: white;
    font-size: 18px;
    margin: 0;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-button {
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.nav-button:hover {
    transform: scale(1.05);
    background-color: rgba(194, 194, 194, 0); 
    box-shadow: 0 0 10px rgb(11, 11, 11);
}
.maincontain{
    margin-left:5%;
    margin-right:5%;
    border-radius: 20px;
    background-color: rgba(20, 20, 20, 0); 
    backdrop-filter: blur(10px) saturate(200%) brightness(70%);
    box-shadow: 0 0 10px rgb(11, 11, 11);
    font-family: "Poppins", sans-serif;
}