@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
body{
    background: linear-gradient(-45deg, #4a1c6b, #4d1771, #c620cf7a, #661387);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: "Poppins", sans-serif;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 10px;
    font-weight: 500;
}
.buttonrow {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .buttoncolumn {
    flex: 0%;
    padding: 5px;
    margin: 0px;
  }
  .button{
    background-color:#6e487c;
    border-radius: 20px;
    color: white;
    border: 3px rgb(156, 0, 156);
    padding: 20px;
    transition: all 0.5s ease;
    box-shadow: 0 0 10px rgba(235, 8, 247, 0.5);
    cursor: pointer;
    
  }