body {
	background: linear-gradient(-45deg, #b42ad3, #7c29ca, #ab33a3, #ed3ba9);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
    color: white;
    font-family: "Press Start 2P";
	margin: 0px;
}
#navshi {
	margin: 0px;
	border: 1px;
	border-bottom: 3px;
	border-bottom-color: white;
	border-color:   rgb(176, 28, 176);
	padding: 15px;
	background-color: rgb(176, 28, 176);
    box-shadow: 0 0 10px   rgb(176, 28, 176);
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#title {
	margin: 200px;
}
a {
	font-family: "Press Start 2P";
	text-decoration: none;
	color: white;
}
a:visited{
	font-family: "Press Start 2P";
	text-decoration: none;
	color: white;
}
a:hover{
	font-family: "Press Start 2P";
	text-decoration: none;
	color: rgb(222, 211, 211);
}
a:active{
    font-family: "Press Start 2P";
	text-decoration: none;
	color: white;
}
#image{
	float: right;
	text-align: right;
	height:30px;
	width:30px;
	margin:1px;
}
.row{
	display: flex;
    flex-wrap: wrap;
}
.column{
	padding:10px;
}
#button {
	font-family: "Press Start 2P";
	padding:0px;
	font-size: 18px;
  background-color: #ad47c6;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgb(196, 31, 214);
  text-decoration: none;
  display: inline;
  margin: 5px;
  margin-bottom: 10px;
  height:150px;
  width:150px;
  }
  #button:hover {
  background-color: #8e348e;
  transform: scale(1.1);
  }
  
  @keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
  
	100% {
		opacity: 1;
	}
  }
#img{
	padding:5px;
	height: 130px;
	width: 130px;
	border-radius: 20px;
}
#p{
    display:none;
}