/*40% skidded*/

body {
	background-color: hsl(0, 0%, 14%);
	animation: gradient 15s ease infinite;
	background-size: 400% 400%;
	height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: "Press Start 2P";
    color: white;
    margin: 0px;
	box-shadow: rgb(255, 255, 255);
	animation: fadeInAnimation ease 1.5s;
}
#navshi {
	backdrop-filter: blur(3px);
	background: transparent;
	font-size:15px;
	margin: 0px;
   border: none;
	padding-left: 15px;
	padding: 20px;
    box-shadow: 0 0 10px   rgb(58, 53, 58);
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#title {
	margin: 200px;
}
a {
	font-weight:900;
    font-family:"Press Start 2P";
	text-decoration: none;
	color: white;
	transition: background-color 0.3s, color 0.3s;

}
a:visited{
	font-weight:900;
    font-family: "Press Start 2P";
	text-decoration: none;
	color: white;

}
a:hover{
	font-weight:900;
    font-family: "Press Start 2P";
	text-decoration: none;
	color: rgb(222, 211, 211);

}
a:active{
	font-weight:900;
    font-family: "Press Start 2P";
	text-decoration: none;
	color: white;

}
a::after{
	transition: background-color 0.3s, color 0.3s;
}
#image{
	float: right;
	text-align: right;
	height:30px;
	width:30px;
	margin:1px;
}
.row{
	margin: 2px;
	display: flex;
    flex-wrap: wrap;
}
.column{
	padding:6px;
}
#button {
	font-weight:900;
    font-family:"Press Start 2P";
	padding:10px;
	padding-bottom: 20px;
	font-size: 18px;
  background-color:  rgb(58, 53, 58);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgb(58, 53, 58);
  text-decoration: none;
  display: inline;
  margin: 0px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  height: 190px;
  width: 150px;
  }
  #button:hover {
  background-color:  rgb(58, 53, 58);
  transform: scale(1.1);
  }
  
  @keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
  
	100% {
		opacity: 1;
	}
  }
#img{
	
	height: 130px;
	width: 130px;
	border-radius: 20px;
}
#hide{
  font-size: xx-small;
}
#search{
	font-family: 'Press Start 2P';
	color: white;
	background-color: rgb(196, 31, 214);
	height: 50px;
	width: 600px;
	border-radius: 20px;
	cursor: pointer;
	border: none;
	padding: 5px;
	box-shadow: 0 0 10px rgb(176, 32, 192)
   
  }


  .button {
	font-family: "Press Start 2P";
	padding:0px;
	font-size: 18px;
  background-color: rgb(58, 53, 58);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 0 0 10px  rgb(58, 53, 58);
  text-decoration: none;
  display: inline;
  margin: 0px;
  margin-bottom: 10px;
  height:200px;
  width:500px;
  }
  .button:hover {
	border-radius: 25px;
  background-color:  rgb(58, 53, 58);
  transform: scale(1.1);
  }
  
  @keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
  
	100% {
		opacity: 1;
	}
  }
	
#iframe{

	width: 100%;
	height: 400px; /* Adjust the height as needed */
	border-top: white;
	border-bottom: white;
	  border:none;
	   resize:both;   
}

#iframe{

	width: 100%;
	height: 500px; /* Adjust the height as needed */
	border-top: white;
	border-bottom: white;
	  border:none;
	   resize:both;   
}
#fullscreenimage{
	text-align: center;
	height: 30px;
	width: 30px;
}

hr{
	margin:0px;
	padding:0px
}


    #gameback, 
	#gamebutton,
	#gamerefresh{
		font-weight:900;
		font-family: "Press Start 2P";
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  box-shadow: 0 0 10px  #3f3f3f;
}

#gamebutton{
  background-color: #3f3f3f;
  color: #ffffff;
}
#gamebutton:hover {
  background-color:  #5c5c5c;
}

#gameback{
	background-color: #3f3f3f;
	color: #ffffff;
  }
  #gameback:hover {
	background-color: #5c5c5c;
  }
  #gamerefresh{
	background-color: #3f3f3f;
	color: #ffffff;
  }
  #gamerefresh:hover {
	background-color: #5c5c5c;
  }
  #navbar{
    bottom: 0; /* set the bottom to 0*/
  }
  #legal{
	margin: 10px;
  }
  #interstellar{
  text-align: center;
  background: linear-gradient(-45deg, #9e459b, #71c4a0, #f80faf7a, #195f8e);
  animation: gradient 5s ease infinite;
  color: white;
  border-radius: 20px;
  border:none;
  }
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#interstellarsucks{
	text-align: center;
	background: linear-gradient(-45deg, #242424, #404040);
	color: white;
	border-radius: 20px;
	border:none;
	font-family: "Press Start 2P";
	padding: 15px 30px;
	font-size: 18px;
  background-color: #ad47c6;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgb(34, 34, 34);
  text-decoration: none;
  display: inline;
  margin: 0px;
  margin-bottom: 10px;
  }
  #interstellarsucks:hover {
	background-color: #8e348e;
	transform: scale(1.1);
	}
	
	@keyframes fadeInAnimation {
	  0% {
		  opacity: 0;
	  }
	
	  100% {
		  opacity: 1;
	  }
	}
#devi{
	margin-top: 13%;
	font-size: 20px;
}

p{
	font-size: small;
}
#melt{
	height:150px;
	width:150px;
	border-radius: 20px;
}

#most-popular{
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 15px;
	transition: background-color 0.5s ease, color 0.5s ease;
	padding: 20px 20px;
	height:250px;
	width: 170px;
}
#gameabout{
	text-align: center;
    padding: 10px;
	font-size: 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: background-color 0.5s ease, color 0.5s ease;
	margin: 20px 0;
	height:250px;
	width:350px;
}
#newest-release{
	padding: 20px 20px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 15px;
	transition: background-color 0.5s ease, color 0.5s ease;
	height:250px;
	width:170px;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
  }
  #ass{
	display: flex;
	flex-direction: row;
	gap: 50px;
  }
hr{
	border: none;
	background-color: #363636;
	height:5px;
}
i{
	font-size: 29px;
}
#discor{
	text-align: center;
	bottom:5px;
	position:fixed;
}
#stat-counter {
	text-align: center;
	
	bottom: 8px;
	width: 100%;
  }
  #statt-counter {
	text-align: center;
	position: fixed;
	bottom: 8px;
	width: 100%;
  }
  #kaye{
	font-size:1px;
  }
  #foter{
	text-align: left;
	position: fixed;
	bottom: 27px;
	margin-left: 20px;
  }
#video{
	border: 0px;
	flex-wrap: wrap;
	margin:5px;
	display: flex;
	padding:10px;
}
#videos{
	object-fit: initial;
	height: 200px;
	width:230px;
	border-radius: 10px;
}
audio{
	width:300px;
}
#enter{
	font-weight:900;
	  font-family:"Press Start 2P";
	  padding:0px;
	  font-size: 18px;
	background-color:  rgb(58, 53, 58);
	color: #ffffff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	box-shadow: 0 0 10px rgb(58, 53, 58);
	text-decoration: none;
	display: inline;
	margin: 0px;
	margin-bottom: 10px;
	height:100px;
	width:4500px;
	box-shadow: 0 0 10px  rgb(58, 53, 58);
  }
  #enter:hover{
	background-color:  rgb(58, 53, 58);
	transform: scale(1.1);
  }

  #iimg {
	height: auto;
	max-height: 218px;
	width: 145px;
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
	border-radius: 25px;
	max-width: 145px;
  }
  .hidden {
	display: none;
}

.search-bar {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.search-bar input {
	box-shadow: 0 0 10px#333;
	width: 50%;
	padding: 10px;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	background-color: #333;
	color: #ffffff;
}

.search-bar input::placeholder {
	color: #aaaaaa;
	font-family: 'Montserrat', sans-serif;
}

.search-bar button {
	box-shadow: 0 0 10px#333;
	padding: 10px 20px;
	margin-left: 10px;
	border: none;
	border-radius: 20px;
	background-color: #333;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.search-bar button:hover {
	background-color: #606060;
}
select{
	background-color: #333;
	border: none;
	color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px#333;
	font-family: 'Montserrat', sans-serif;
	height: 50px;
	width: 150px;
	text-align: center;
	justify-content: center;
	align-items: center;
}
option{
	color: white;
	background-color: #333;
	border: none;
	font-family: 'Montserrat', sans-serif;
}
canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

body {
	position: relative;
	z-index: 0;
 }
	#particles-js {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
